{% extends "base.html" %}
{% block title %}Add Recipe{% endblock %}

{% block content %}
<br>
<div class="row justify-content-center">
        <div class="card border-secondary mb-3" style="width: 22rem;">
            <div class="card-header">Add Recipe to Collection</div>
            <div class="card-body text-secondary">
                <form method="POST">
                    <div class="form-outline mb-4">
                        <input type="text" id="recipe_url" name="recipe_url" class="form-control"
                                placeholder="Enter Recipe URL"/>
                    </div>
                    <div align="center">
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Add Recipe</button>
                    </div>
                </form>
            </div>
        </div>
</div>
{% endblock %}