{% extends "base.html" %} {% block title %}Add Recipe{% endblock %} {% block
content %}
<div class="add-recipe-modal">
  <form method="POST" class="form-control">
        <input
          type="text"
          id="recipe_url"
          name="recipe_url"
          class="text-input"
          placeholder="Enter Recipe URL"
        />
        <button
          type="submit"
          class="button-primary"
        >
          <i class="fa-solid fa-pen-to-square"></i> Add Recipe
        </button>
  </form>
  <span class="modal-text">
  Import a recipe from one of the many recipe websites available. This function supports most modern recipe websites that rely on a schema to store their recipe data.
</span> 
</div>
{% endblock %}
