{% extends "base.html" %} {% block title %}Add Recipe{% endblock %} {% block
    content %}
    <form method="POST" id="cart-form">
    <div class="cart-wrapper">
        <div class="cart-card">
        <h2>Manually Add Ingredient</h2>
        <div class="add-item">
            <input class="text-input" name="ingredient" type="text" placeholder="Enter item to add">
            <select class="ing-preview"
                aria-label=".form-select-sm example"
                name="ing_type">
                <option value="misc">Misc.</option>
                <option value="produce">Produce</option>
                <option value="meat">Meat</option>
                <option value="coffee_tea">Coffee and Tea</option>
                <option value="pasta">Pasta</option>
                <option value="frozen">Frozen Food</option>
                <option value="dairy_bread">Dairy</option>
            </select>
            <button type="submit" class="button-primary">Add Item</button>
        </div>
        </div>
        <div class="ingredient-list-cart">
            <div class="ing-menu">
            <h2>Ingredient List - {{ shopping_list }} Items</h2>
            <button type="button" class="button-primary" id="clear-cart-button">Clear Cart</button>
            </div>
            {% if produce %}
            <div class="ing-heading">
                <i class="fa-solid fa-apple-whole fa-lg"></i> Produce - Fruits - Veggies
            </div>
            {% for item in produce %}
            <div class="cart-ingredient">
                <p class="cart-input">{{ item.shopping_item }}</p>
                <i onclick="delete_shopping_item({{ item.id }})" class="fa-solid fa-square-xmark fa-lg"></i>
            </div>
            {% endfor %}
            {% endif %}
            {% if meat %}
            <div class="ing-heading">
                <i class="fa-solid fa-drumstick-bite fa-lg"></i> Meat
            </div>
            {% for item in meat %}
            <div class="cart-ingredient">
                <p class="cart-input">{{ item.shopping_item }}</p>
                <i onclick="delete_shopping_item({{ item.id }})" class="fa-solid fa-square-xmark fa-lg"></i>
            </div>
            {% endfor %}
            {% endif %}
            {% if dairy %}
            <div class="ing-heading">
                <i class="fa-solid fa-bread-slice fa-lg"></i> Bread - Eggs - Dairy
            </div>
            {% for item in dairy %}
            <div class="cart-ingredient">
                <p class="cart-input">{{ item.shopping_item }}</p>
                <i onclick="delete_shopping_item({{ item.id }})" class="fa-solid fa-square-xmark fa-lg"></i>
            </div>
            {% endfor %}
            {% endif %}
            {% if coffee_tea %}
            <div class="ing-heading">
                <i class="fa-solid fa-mug-saucer fa-lg"></i> Coffee - Tea - Snacks
            </div>
            {% for item in coffee_tea %}
            <div class="cart-ingredient">
                <p class="cart-input">{{ item.shopping_item }}</p>
                <i onclick="delete_shopping_item({{ item.id }})" class="fa-solid fa-square-xmark fa-lg"></i>
            </div>
            {% endfor %}
            {% endif %}
            {% if pasta %}
            <div class="ing-heading">
                <i class="fa-solid fa-utensils fa-lg"></i> Pasta
            </div>
            {% for item in pasta %}
            <div class="cart-ingredient">
                <p class="cart-input">{{ item.shopping_item }}</p>
                <i onclick="delete_shopping_item({{ item.id }})" class="fa-solid fa-square-xmark fa-lg"></i>
            </div>
            {% endfor %}
            {% endif %}
            {% if misc %}
            <div class="ing-heading">
                <i class="fa-solid fa-utensils fa-lg"></i> Miscellaneous
            </div>
            {% for item in misc %}
            <div class="cart-ingredient">
                <p class="cart-input" onclick="editCartItem(this)" data-item-number="{{ item.id }}">{{ item.shopping_item }}</p>
                <input type="text" style="display: none">
                <i onclick="delete_shopping_item({{ item.id }})" class="fa-solid fa-square-xmark fa-lg"></i>
            </div>
            {% endfor %}
            {% endif %}
            {% if frozen %}
            <div class="ing-heading">
                <i class="fa-solid fa-igloo fa-lg"></i> Frozen
            </div>
            {% for item in frozen %}
            <div class="cart-ingredient">
                <p class="cart-input">{{ item.shopping_item }}</p>
                <i onclick="delete_shopping_item({{ item.id }})" class="fa-solid fa-square-xmark fa-lg"></i>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    </div>
</form>


<div class="modal-container" id="modal-container-cart" data-user-id="{{ user.id }}">
    <div class="modal">
      <p id="modal-inner-text">Are you sure you want to clear all {{ shopping_list }} items from the cart?</p>
      <div>
        <a class="modal-delete" id="confirm-clear-cart" href="#">Clear Cart</a>
        <a class="button-primary close-modal" id="close-cart-modal">Close</a>
      </div>
    </div>
  </div>
{% endblock %}