{% extends "base.html" %}
{% block title %}{{ recipe.recipe_name }}{% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card shadow-2 border" style="border-radius:4px;">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <span class="fw-lighter"><span class="text-primary"><i class="fa-solid fa-clock"></i>
                                        <b>Prep:</b></span> {{ recipe.prep_time }}</span>
                            </div>
                            <div class="col text-center">
                                <span class="fw-lighter"><span class="text-primary"><i class="fa-solid fa-clock"></i>
                                        <b>Cook:</b></span> {{ recipe.cook_time }}</span>
                            </div>
                            <div class="col text-center">
                                <span class="fw-lighter"><span class="text-primary"><i class="fa-solid fa-clock"></i>
                                        <b>Total:</b></span> {{ recipe.total_time }}</span>
                            </div>
                            <div class="col text-center">
                                <span class="fw-lighter"><span class="text-primary"><i class="fa fa-cutlery fa-lg"></i>
                                        <b>Servings:</b></span> {{ recipe.servings }}</span>
                            </div>
                            <div class="col text-center">
                                <span class="fw-lighter"><span class="text-primary"><i class="fa fa-cutlery fa-lg"></i>
                                        <b>Category:</b></span> {{ recipe.category }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <form method="POST">
        <input type="hidden" name="recipe_id" value="{{ recipe.id }}" />
        <div class="row">
            <div class="col-4">
                <div class="card text-left bg-light mb-10" style="border-radius:4px;">
                    <div class="card shadow-2 border" style="border-radius:4px;">
                        <div class="card-header border-0 text-center" style="border-radius:4px;">

                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush table-sm">
                                <thead class="table-info">
                                    <tr>
                                        <td class="border-top text-center align-middle" scope="col" colspan="2">
                                            <h4 class="mb-0"><span
                                                    class="text-primary fw-lighter mb-0">Ingredients</span></h4>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ingredient in ingredients %}
                                    <tr>
                                        <td>
                                            <div class="row me-0 ms-0">
                                                <div class="col p-0">
                                                    <input type="text" class="form-control form-control-sm"
                                                        id="ingredient" name="ingredient_list"
                                                        value="{{ ingredient.ingredient }}" />
                                                    <input type="hidden" name="ingredient_id"
                                                                value="{{ ingredient.id }}" />
                                                </div>
                                                <div class="col-3 pl-1 pe-0">
                                                    <div class="form-outline">
                                                        <select class="form-select form-select-sm" data-style="btn-info"
                                                            aria-label=".form-select-sm example" id="{{ loop.index0 }}"
                                                            name="ing_type">
                                                            <option value="0" selected>Misc.</option>
                                                            <option value="1">Produce</option>
                                                            <option value="2">Meat</option>
                                                            <option value="3">Coffee and Tea</option>
                                                            <option value="4">Pasta</option>
                                                            <option value="5">Frozen Food</option>
                                                            <option value="6">Dairy</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="col text-center">
    {% for recipe_tag in recipe.tags %}
    <span class="align-middle text-primary border border-info rounded p-1 m-1 fw-light" style="font-size:12px">
        <b>{{ recipe_tag.tag_name }}</b>
        <a href="javascript:delete_tag({{ recipe_tag.id }}, '{{ view_id }}', {{ recipe.id }});"><span
                class="text-primary"><i class="fa-solid fa-xmark fa-md"></i></span></a>
    </span>
    {% endfor %}
</div>
<br>
</div>
</div>
</div>
</div>
<div class="col-8">
    <div class="card text-left bg-light mb-10" style="border-radius:4px;">
        <div class="card shadow-2 border" style="border-radius:4px;">
            <div class="card-header border-0 text-center">
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush table-sm">
                    <thead class="table-info">
                        <tr>
                            <td class="border-top text-center align-middle" scope="col">
                                <h4 class="mb-0">
                                    <span class="text-primary align-middle fw-lighter mb-0">{{ recipe.recipe_name }}</span>
                                    <span style="float: right;">
                                        <button class="btn btn-primary btn-sm float-right shadow-none" type="submit"
                                            id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-floppy-disk"></i> Save
                                        </button>
                                        <button class="btn btn-danger btn-sm float-right shadow-none" type="button"
                                            id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-trash"></i> Discard Changes
                                        </button>
                                    </form>
                                    </span>
                                </h4>
                                <div style="clear:both;"></div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="fw-lighter">
                                    {% for key, value in instructions_json.items() %}
                                    <div class="row me-0 ms-0">
                                        <div class="col p-0">
                                            <textarea class="form-control mb-2" id="instructions" name="instructions" rows="3">{{ value }}</textarea>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
</div>
</div>
</div>
</div>
</div>
<div class="modal fade" id="delete_recipe_go_home" tabindex="-1" aria-labelledby="delete_recipe_modal"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure you want to delete this recipe?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}