{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<br />
<div class="container">
  <!-- <div class="row">
        <div class="col">
            <h1 class="display-6 text-primary" style="font-size:1.5rem">Hello, {{ user.first_name }}</h1>
        </div>
    </div>
    <div class="row justify-content-center mb-2">
        <div class="col-3">
            <div class="card mb-4 shadow-2 p-2 border" style="border-radius:4px;">
                <div class="row">
                    <div class="col-2 d-flex align-items-center"><i class="text-primary fa-regular fa-file-lines fa-2x"></i></div>
                    <div class="col">
                        <h5 class="text-primary" style="font-size:1rem">{{ total_recipes }}</h5>
                        <hr class="m-0">
                        <div class="col">
                            <span class="fw-lighter text-primary"><small>Total recipes</small></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-4 shadow-2 p-2 border" style="border-radius:4px;">
                <div class="row">
                    <div class="col-2 d-flex align-items-center"><i class="text-primary fa-solid fa-star fa-2x"></i></div>
                    <div class="col">
                        <h5 class="text-primary" style="font-size:1rem">{{ favorite_total }}</h5>
                        <hr class="m-0">
                        <span class="fw-lighter text-primary"><small>Favorite recipes</small></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-4 shadow-2 p-2 border" style="border-radius:4px;">
                <div class="row">
                    <div class="col-2 d-flex align-items-center"><i class="text-primary fa-solid fa-utensils fa-2x"></i></div>
                    <div class="col">
                        <h5 class="text-primary" style="font-size:1rem">{{ popular_category }}</h5>
                        <hr class="m-0">
                        <span class="fw-lighter text-primary"><small>Most popular category</small></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-4 shadow-2 p-2 border" style="border-radius:4px;">
                <div class="row">
                    <div class="col-2 d-flex align-items-center"><i class="text-primary fa-sharp fa-solid fa-cart-shopping fa-2x"></i></div>
                    <div class="col">
                        {% if shopping_list %}
                        <h5 class="text-primary" style="font-size:1rem">{{ shopping_list }}</h5>
                        <hr class="m-0">
                        <span class="fw-lighter text-primary"><small>Items on your shopping list</small></span>
                        {% else %}
                         <h5 class="text-primary" style="font-size:1rem">{{ shopping_list }}</h5>
                        <hr class="m-0">
                        <span class="fw-lighter text-primary"><small>Items on your shopping list</small></span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div> -->
  <div class="main-container">
    <h1 class="display-6 text-primary" style="font-size: 1.5rem">
      Welcome, {{ user.first_name }}.
    </h1>

    <form class="home-menu">
      <div>
        <a href="/add_recipe" class="primary-button">
          <i class="fa-regular fa-pen-to-square"></i> Add Recipe
        </a>
      </div>
      <div>
        <a href="/all_recipes" class="primary-button">
          <i class="fa-regular fa-file-lines"></i> All Recipes
        </a>
      </div>
      <div>
        <a href="/favorites" class="primary-button">
          <i class="fa-solid fa-heart"></i> Favorites
        </a>
      </div>
      <div>
        <a href="/random_recipe" class="primary-button">
          <i class="fa-solid fa-dice"></i> Random Recipe
        </a>
      </div>
      <div>
        <input type="text" class="text-input" placeholder="Enter Keyword" />
      </div>
      <div>
        <select
          class="select-input"
          data-style="btn-info"
          id="recipe_category"
          name="sort_method"
        >
          <option value="7" disabled>Select Category</option>
          <option value="all">All Categories</option>
          <option value="Breakfast">Breakfast</option>
          <option value="Lunch">Lunch</option>
          <option value="Dinner">Dinner</option>
          <option value="Dessert">Dessert</option>
          <option value="Sides">Sides</option>
        </select>
      </div>
      <div>
        <form method="POST" action="/search">
          <button class="primary-button" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i> Search
          </button>
        </form>
      </div>
      <h1>Recently Added Recipes:</h1>
      <div class="card-container">
        {% if recipes %} 
        {% for recipe in recipes %}
        <div class="card">
          <img
            src="{{ url_for('static', filename=recipe.image) }}"
            style="
              width: 100%;
              height: 15vw;
              object-fit: cover;
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
            "
          />
          {% if recipe.favorite == True %}
          <button
            class="favorite"
            onclick="remove_favorite('{{ recipe.id }}')"
            style="position: absolute; top: 10px; right: 10px"
          >
            <i class="fa-solid fa-star fa-xl text-danger"></i>
          </button>
          {% else %}
          <button
            class="favorite"
            onclick="add_favorite('{{ recipe.id }}')"
            style="position: absolute; top: 10px; right: 10px"
          >
            <i class="fa-regular fa-star fa-xl text-danger"></i>
          </button>
          {% endif %}
          <div class="card-title">{{ recipe.recipe_name }}</div>
          <div class="recipe-info">
            <div class="pill">
              <i class="fa-solid fa-utensils"></i> {{ recipe.category }}
            </div>

            <div class="pill">
              <i class="fa-solid fa-clock"></i> Prep: {{ recipe.prep_time }}
            </div>

            <div class="pill">
              <i class="fa-solid fa-clock"></i> Cook: {{ recipe.cook_time }}
            </div>

            <div class="pill">
              <i class="fa-solid fa-clock"></i> Total: {{ recipe.total_time }}
            </div>

            <div class="pill">
              <i class="fa-solid fa-utensils"></i> Servings: {{ recipe.servings
              }}
            </div>
          </div>
          <div class="card-body">
            <a href="/view_recipe/{{ recipe.uuid }}" class="primary-button">
              <i class="fa-brands fa-readme"></i> View
            </a>

            <a href="/edit_recipe/{{ recipe.uuid }}" class="primary-button">
              <i class="fa-solid fa-pen-to-square"></i> Edit
            </a>

            <a href="" class="primary-button">
              <i class="fa-solid fa-trash"></i> Delete
            </a>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </form>
  </div>
</div>

<!-- <div
  class="modal fade"
  id="delete_recipe"
  tabindex="-1"
  aria-labelledby="delete_recipe_modal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Are you sure you want to delete this recipe?</div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-mdb-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

{% endblock %}
