{% extends "base.html" %}
{% block title %}Add Recipe{% endblock %}
{% block content %}
<br>
<form action="save_recipe" method="POST" id="ing">
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card shadow-3-strong" style="border-radius:3px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <span class="fw-lighter"><span class="text-primary"><i class="fa-solid fa-clock"></i>
                                <b>Prep:</b></span><input type="text" class="form-control form-control-sm w-100" id="title" name="prep_time"
                                value="{{ prep }}" /></span>                        </div>
                        <div class="col">
                            <span class="fw-lighter"><span class="text-primary"><i class="fa-solid fa-clock"></i>
                                <b>Cook:</b></span><input type="text" class="form-control form-control-sm w-100" id="title" name="cook_time"
                                value="{{ cook }}" /></span>                        </div>
                        <div class="col">
                            <span class="fw-lighter"><span class="text-primary"><i class="fa-solid fa-clock"></i>
                                <b>Total:</b></span><input type="text" class="form-control form-control-sm w-100" id="title" name="total_time"
                                value="{{ total }}" /></span>                        </div>
                        <div class="col">
                            <span class="fw-lighter"><span class="text-primary"><i class="fa fa-cutlery fa-lg"></i>
                                <b>Servings:</b></span><input type="text" class="form-control form-control-sm w-100" id="title" name="servings"
                                value="{{ servings }}" /></span>                        </div>
                        <div class="col text-right p-0">
                            <button type="submit" form="ing" class="btn btn-primary btn-sm" role="button"><i
                                    class="fa-solid fa-floppy-disk"></i> Save Recipe
                            </button>

                            <button type="button" class="btn btn-danger btn-sm me-0" data-toggle="modal"
                                    data-target="#myModal"><i class="fa fa-trash"></i> Discard
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-10">
                            <select class="recipe-tags form-control form-select form-select-sm"
                                                 data-control="select2" multiple="multiple"
                                                 data-select2-tags="true" id="recipe_tags" name="recipe_tags">
                            <option value="fast">fast</option>
                            <option value="easy">easy</option>
                            <option value="crock pot">crock pot</option>
                        </select>
                        </div>
                        <div class="col-2">
                                <select class="form-select form-select-sm" data-style="btn-info" id="recipe_category" name="recipe_category">
                                            <option>Select Category</option>
                                            <option value="0">Breakfast</option>
                                            <option value="1">Lunch</option>
                                            <option value="2">Dinner</option>
                                            <option value="3">Dessert</option>
                                            <option value="4">Sides</option>
                                </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-4">
            <div class="card text-left bg-light" style="border-radius:3px;">
                <div class="card shadow-3-strong" style="border-radius:3px;">
                    <div class="card-header border-0 text-center">

                    </div>
                    <div class="table-responsive">
                            <table class="table align-items-center table-flush table-sm">
                                <thead class="table-info">
                                <tr>
                                    <th class="border-top text-center align-middle" scope="col" colspan="2"><h5 class="mb-0"><span
                                            class="text-primary fw-lighter">Ingredients</span></h5></th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for ingredient in ingredient_list %}
                                    <tr>
                                        <td>
                                            <div class="row me-0 ms-0">
                                                <div class="col p-0">
                                                    <input type="text" class="form-control form-control-sm"
                                                        id="ingredient" name="ingredient_list"
                                                        value="{{ ingredient }}" />
                                                </div>
                                                <div class="col-3 pl-1 pe-0">
                                                    <div class="form-outline">
                                                        <select class="form-select form-select-sm" data-style="btn-info"
                                                            aria-label=".form-select-sm example" id="{{ loop.index0 }}"
                                                            name="ing_type">
                                                            <option value="misc">Misc.</option>
                                                            <option value="produce">Produce</option>
                                                            <option value="meat">Meat</option>
                                                            <option value="coffee_tea">Coffee and Tea</option>
                                                            <option value="pasta">Pasta</option>
                                                            <option value="frozen">Frozen Food</option>
                                                            <option value="dairy_bread">Dairy</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card text-left bg-light" style="border-radius:3px;">
                <div class="card shadow-3-strong" style="border-radius:3px;">
                    <div class="card-header border-0 text-center">
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush table-sm">
                            <thead class="table-info">
                            <tr>
                                <th class="border-top text-center" scope="col">
                                    <input type="text" class="form-control form-control-sm w-100" id="title" name="recipe_title"
                                    value="{{ title }}" style="text-align:center"/>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span class="fw-lighter">
                                        {% for key, value in instructions_json.items() %}
                                        <div class="row me-0 ms-0">
                                            <div class="col p-0">
                                                <textarea class="form-control mb-2" id="instructions" name="instructions" rows="3">{{ value }}</textarea>
                                            </div>
                                        </div>
                                        {% endfor %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}