{% extends "base.html" %} {% block title %}{{ title }}{% endblock %}
{% block content %}
<form action="save_recipe" method="POST" id="ing">
      <div class="view-recipe">
        <div class="ingredient-list">
            {% for ingredient in ingredient_list %}
          <div class="ingredient-wrapper">
            <div class="ingredient"><input type="text" class="text-input"
                id="ingredient" name="ingredient_list"
                value="{{ ingredient }}" /></div>
            <div class="ingredient-check">
                <select class="ing-preview" data-style="btn-info"
                aria-label=".form-select-sm example" id="{{ loop.index0 }}"
                name="ing_type">
                <option value="misc">Misc.</option>
                <option value="produce">Produce</option>
                <option value="meat">Meat</option>
                <option value="coffee_tea">Coffee and Tea</option>
                <option value="pasta">Pasta</option>
                <option value="frozen">Frozen Food</option>
                <option value="dairy_bread">Dairy</option>
            </select>
            </div>
          </div>
          {% endfor %}
          
        </div>
        <div class="recipe-instructions-preview">
          <div class="stats-preview">
            <div>
              Prep Time
              <input type="text" value="{{ prep }}" name="prep_time" class="text-input">
            </div>
            <div>
              Cook Time
              <input type="text" value="{{ cook }}" name="cook_time" class="text-input">
            </div>
            <div>
              Total Time
              <input type="text" value="{{ total }}" name="total_time" class="text-input">
            </div>
            <div>
              Servings
              <input type="text" value="{{ servings }}" name="servings" class="text-input">
            </div>
            <div>
            Meal Category
            <select class="ing-preview-category" data-style="btn-info" id="recipe_category" name="recipe_category" style="width:100%; height: 30px;">
                                            <option>Select Category</option>
                                            <option value="0">Breakfast</option>
                                            <option value="1">Lunch</option>
                                            <option value="2">Dinner</option>
                                            <option value="3">Dessert</option>
                                            <option value="4">Sides</option>
                                </select>
                              </div>
          </div>
          <div class="tags-wrapper-preview">
            <div class="tag-icon"><i class="fa-solid fa-tags fa-2x"></i></div>
            <div class="tag-display">
              <ul id="tag_list">
              
              </ul>
            </div>
            <input type="text" id="new_tag" class="tag-input" placeholder="Type your tag in here and press enter to add it to the recipe.">
          </div>
          <div class="recipe-menu-wrapper-preview">
            <div class="recipe-title"><input type="text" class="text-input" id="title" name="recipe_title"
                value="{{ title }}" style="text-align:center"/></div>
            
              <button type="submit" class="button-primary">Save</button>
              <a href="#" class="button-primary" style="text-decoration: none; display: grid; align-content: center;">Discard</a>
            
          </div>
          {% for key,value in instructions_json.items() %}
          <div class="counter"><span class="number">{{ loop.index }}.</span></div>
          <div class="step">
            <textarea class="text-area" id="instructions" name="instructions" rows="3">{{ value }}</textarea>
          </div>
          {% endfor %}
        </div>
      </div>
    </form>
    </main>
    <script>
    function menutoggle() {
      var x = document.getElementById("dropdown-menu");
      if (x.style.display === "none") {
        x.style.display = "inline-block";
      } else {
        x.style.display = "none";
      }
    } 
  </script>
  {% endblock %}
