{% extends "base.html" %} {% block title %}Home{% endblock %} {% block
    content %}
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      'error' %}
      <div class="alert-error" id="alert">
        <i class="fa-solid fa-triangle-exclamation fa-2x"></i></i>
        <p>{{ message }}</p>
        <div class="alert-close-error" id="alert-close"><i class="fa-solid fa-circle-xmark fa-xl"></i></div>
      </div>
      {% else %}
      <div class="alert-success" id="alert">
        <i class="fa-solid fa-circle-info fa-2x"></i>
        <p>{{ message }}</p>
        <div class="alert-close" id="alert-close"><i class="fa-solid fa-circle-xmark fa-xl"></i></div>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}
    <div class="body-wrapper-settings">
      <div class="settings-display">

        <div class="title-settings">
          <i class="fa-solid fa-gear"></i> App Information
        </div>
        <div class="content-settings">
          Current version: ver. 1.0.0-beta-1
        </div>

        <div class="title-settings">
          <i class="fa-solid fa-user"></i> User information
        </div>
        <div class="content-settings">
          Currently logged in as {{ user.first_name }}
        </div>

        <div class="title-settings">
          <i class="fa-solid fa-user-group"></i> User Settings
        </div>
        <div class="content-settings">
          <div class="users-headings">
            <span class="user-info-heading">Name</span>
            <span class="user-info-heading">Email</span>
            <span class="user-info-heading">User ID</span>
            <span class="user-info-heading">Admin</span>
            <span class="user-info-heading">Action</span>
      
            {% for user in all_users %}
         
            <span class="user-info">{{ user.first_name }}</span>
            <span class="user-info">{{ user.email }}</span>
            <span class="user-info">{{ user.id }}</span>
            <span class="user-info">{% if user.admin %}Yes{% else %}No{% endif %}</span>
            <span class="user-control"><button class="button-user-primary"><i class="fa-solid fa-pen-to-square"></i> Edit</button><button class="button-user-delete" id="deleteUser" onclick="deleteUser({{ user.id }}, '{{ user.first_name }}')"><i class="fa-solid fa-user-xmark"></i> Delete</button></span>
          
          {% endfor %}
          </div>
          <div class="add-user">
          <button class="button-user-primary" id="addUser"><i class="fa-solid fa-pen-to-square"></i> Add User</button>
          </div>
          <form method="POST">
          <div class="user-form-control" style="display:none;" id="userFormControl">
            <input class="user-text-input" type="text" placeholder="Username" name="firstName" id="userFirstName" required>
            <input class="user-text-input" type="text" placeholder="Email" name="email" id="userEmail" required>
            <button class="button-user-primary"><i class="fa-solid fa-pen-to-square"></i> Confirm</button>
            <input class="user-text-input" type="password" placeholder="Password" id="userPassword" name="password1" required>
            <input class="user-text-input" type="password" placeholder="Confirm password" id="confirmPassword" name="password2" required>
            <button class="button-user-delete" id="cancelAddUser"><i class="fa-solid fa-user-xmark"></i> Cancel</button>
            <div>
              User is administrator <input type="checkbox" name="admin">
            </div>
          </div>
          
        </form>
        </div>

        <div class="title-settings">
          <i class="fa-solid fa-desktop"></i> Appearance
        </div>
        <div class="content-settings-theme">
          <div class="theme-container-light">
            <div class="nav-light">

            </div>
          </div>
          <div class="theme-container-dark">
            <div class="nav-dark">

            </div>
          </div>
        </div>

        <div class="modal-container-cp" id="modal-container-cp" style="display: none">
          <div class="modal">
            <p id="cp-modal-inner-text"></p>
            <div>
              <a class="modal-delete" id="delete-link" href="#">Delete User</a>
              <a class="button-primary close-modal" id="close" onclick="closeCPModal()">Close</a>
            </div>
          </div>
        </div>
      </div>
    </div>




<script>

  var addUser = document.getElementById("addUser");
  var userFormControl = document.getElementById("userFormControl");
  var userModal = document.getElementById("modal-container-cp");

  function closeCPModal() {
    userModal.style.display = "none";
  }

  addUser.addEventListener("click", function() {
    userFormControl.style.display = "grid";
  });

  cancelAddUser.addEventListener("click", function(e) {
    e.preventDefault();
    var userFirstName = document.getElementById("userFirstName");
    var userEmail = document.getElementById("userEmail");
    var userPassword = document.getElementById("userPassword");
    userFirstName.value = "";
    userEmail.value = "";
    userPassword.value = "";
    userFormControl.style.display = "none";
  });

  function deleteUser(userID, userName) {
    var cpInnerText = document.getElementById("cp-modal-inner-text");
    var userModalText = `Are you sure you want to delete ${userName}?`
    var userDeleteLink = document.getElementById("delete-link");

    cpInnerText.innerHTML = userModalText;
    userDeleteLink.setAttribute("href", `/delete_user/${userID}`);
    userModal.style.display = "block";
  }

</script>

    {% endblock %}
    </div>
    </div>