{% extends "base.html" %} {% block title %}Home{% endblock %} {% block
    content %}
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      'error' %}
      <div class="alert alert-danger alert-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% else %}
      <div class="alert-success" id="alert">
        <i class="fa-solid fa-circle-info fa-2x"></i>
        <p>{{ message }}</p>
        <div class="alert-close" id="alert-close"><i class="fa-solid fa-circle-xmark fa-xl"></i></div>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}
    <div class="page-title">
      <div class="home-title">Showing your recipe tags - click tag to show all recipes with that tag</div>
      <div class="sort-control">
       
      </div>
    </div>
    <div class="body-wrapper-tags">
      <input type="text" class="text-input-tags" placeholder="Start typing to search for tags..." id="tag-match">
      <div id="tag-results">

      </div>
      <script>
      const tagInput = document.getElementById("tag-match");
      const tagResults = document.getElementById("tag-results");

      const updateTagList = tagName => {
        if (tagName.length === 0) {
          tagName = [];
          tagResults.innerHTML = '';
        } else {
          tagResults.innerHTML = '<div class="tag-results"><a href="/fetch_tagged_recipe/\"' + tagName.tag_name + '>' + tagName.tag_name + '</a></div>';
          console.log(tagName)
        }
      }

      const fetchTags = async tags => {
        if (tags.length > 0) {
          const response = await fetch(`/fetch_tags/${tags}`)
          const tagList = await response.json();
          updateTagList(tagList)
        } else {
          updateTagList('')
        }
      }

      tagInput = addEventListener("input", () => fetchTags(tagInput.value));

      </script>
    {% endblock %}
    </div>
    </div>