{% extends "base.html" %} {% block title %}Home{% endblock %} {% block
    content %}
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      'error' %}
      <div class="alert alert-danger alert-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% else %}
      <div class="alert-success" id="alert">
        <i class="fa-solid fa-circle-info fa-2x"></i>
        <p>{{ message }}</p>
        <div class="alert-close" id="alert-close"><i class="fa-solid fa-circle-xmark fa-xl"></i></div>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}
    <div class="page-title">
      <div class="home-title">Showing your recipe tags - click tag to show all recipes with that tag</div>
      <div class="sort-control">
       
      </div>
    </div>
    <div class="body-wrapper-tags">
        <div class="tag-wrapper-list">
        {% for recipe in recipes %}

            {% for tag in recipe.tags %}
            <span class="tag-list" id="tag-list" onclick="menutoggle()">{{ tag.tag_name }}
                <div class="tag-menu" id="tag-menu" style="display: none;">Hello</div>
            </span>
            {% endfor %}

        {% endfor %}

        <script>
            function menutoggle() {
              var x = document.getElementById("tag-menu");
              if (x.style.display === "none") {
                x.style.display = "inline-block";
              } else {
                x.style.display = "none";
              }
            }
          </script>
      {% endblock %}
      </div>
    </div>