<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='test.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;400&family=Oxygen&family=Quicksand:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Varela&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&family=Varela&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">R•E•M•I</div>
      <div class="nav-grid">
        <div class="nav-layout">
          <span class="nav-icon"><i class="fa-solid fa-home"></i></span>
          <span class="nav-text">Home</span>
          <span class="nav-other"></span>
        </div>
        <div class="dropdown">
          <div class="nav-layout">
            <span class="nav-icon"
              ><i class="fa-solid fa-pen-to-square"></i
            ></span>
            <span class="nav-text">Add Recipe</span>
            <span class="nav-other"
              ><i class="fa-solid fa-angle-down"></i
            ></span>
          </div>
          <div class="menu-items">
            <ul class="menu-list">
              <li><a class="menu-link" href="#">Import Recipe</a></li>
              <li><a class="menu-link" href="#">Create Recipe</a></li>
            </ul>
          </div>
        </div>
        <div class="nav-layout">
          <span class="nav-icon"
            ><i class="fa-solid fa-rectangle-list"></i
          ></span>
          <span class="nav-text">All Recipes</span>
          <span class="nav-other"><span class="pill">132</span></span>
        </div>
        <div class="nav-layout">
          <span class="nav-icon"><i class="fa-solid fa-heart"></i></span>
          <span class="nav-text">Favorites</span>
          <span class="nav-other"><span class="pill">82</span></span>
        </div>
        <div class="nav-divider">
        <hr>
        </div>
        <div class="nav-layout-search">
            <span class="nav-icon"><i class="fa-solid fa-magnifying-glass"></i></i></span>
            <span class="nav-text"><input class="search-recipes" placeholder="Search recipes"></span>
        </div>
        <div class="nav-layout">
            <span class="nav-icon"><i class="fa-solid fa-cart-shopping"></i></span>
            <span class="nav-text">Cart</span>
            <span class="nav-other"><span class="pill">12</span></span>
        </div>
      </div>
      <div class="bottom-wrapper">
      <div class="nav-layout">
        <span class="nav-icon"><i class="fa-solid fa-right-from-bracket"></i></span>
          <span class="nav-text">Logout</span>
          <span class="nav-other"></span>
      </div>
      <div class="nav-layout">
        <span class="nav-icon"><i class="fa-solid fa-gear"></i></span>
          <span class="nav-text">Settings</span>
          <span class="nav-other"></span>
      </div>
    </div>
      <!-- <div class="logo">R•E•M•I</div>
      <ul class="nav-list">
        <li class="nav-item">
          <div class="nav-layout">
            <span class="nav-icon"><i class="fa-solid fa-home fa-lg"></i></span>
            <span class="nav-text">Home</span>
            <span class="nav-other"></span>
          </div>
        </li>
        <div class="dropdown">
          <li class="nav-item">
            <div class="nav-layout">
              <span class="nav-icon"
                ><i class="fa-solid fa-pen-to-square fa-lg"></i
              ></span>
              <span class="nav-text">Add Recipe</span>
              <span class="nav-other"></span>
            </div>
          </li>
          <div class="dropdown-items">
            <ul>
              <li>Item 1</li>
              <li>Item 2</li>
            </ul>
          </div>
        </div>
        <li class="nav-item">
          <div class="nav-layout">
            <span class="nav-icon"
              ><i class="fa-solid fa-rectangle-list fa-lg"></i
            ></span>
            <span class="nav-text">All Recipes</span>
            <span class="nav-other"><span class="pill">132</span></span>
          </div>
        </li>
        <li class="nav-divider">
          <hr />
        </li>
        <li class="nav-item">
          <div class="nav-layout">
            <span class="nav-icon"
              ><i class="fa-solid fa-cart-shopping fa-lg"></i
            ></span>
            <span class="nav-text">Cart</span>
            <span class="nav-other"><span class="pill">7 Items</span></span>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-layout">
            <span class="nav-icon"
              ><i class="fa-solid fa-magnifying-glass fa-lg"></i
            ></span>
            <span class="nav-text"
              ><input
                class="search-recipes"
                type="text"
                placeholder="Search Recipes"
            /></span>
            <span class="nav-other"></span>
          </div>
        </li>
      </ul>
      <ul class="settings-user">
        <li class="settings">
          <a href="#" class="nav-icon"
            ><i class="fa-solid fa-user"></i
            ><span class="nav-text"> Welcome, User.</span></a
          >
        </li>
        <li class="settings">
          <a href="#" class="nav-icon"
            ><i class="fa-solid fa-gear"></i
            ><span class="nav-text">Settings</span></a
          >
        </li>
      </ul> -->
    </nav>

    <main>
        <div class="body-wrapper">
            <div class="recipe-card">

            </div>
            <div class="recipe-card">
                
            </div>
            <div class="recipe-card">
                
            </div>
            <div class="recipe-card">
                
            </div>
            <div class="recipe-card">
                
            </div>
            <div class="recipe-card">
                
            </div>
            <div class="recipe-card">
                
            </div>
            <div class="recipe-card">
                
            </div>
        </div>
    </main>
  </body>
</html>
