{% extends "base.html" %}
{% block title %}{{ recipe.recipe_name }}{% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card shadow" style="border-radius:3px;">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <span class="fw-lighter"><span class="text-primary"><i
                                        class="fa-solid fa-clock"></i> <b>Prep:</b></span> {{ recipe.prep_time }}</span>
                            </div>
                            <div class="col text-center">
                                <span class="fw-lighter"><span class="text-primary"><i
                                        class="fa-solid fa-clock"></i> <b>Cook:</b></span> {{ recipe.cook_time }}</span>
                            </div>
                            <div class="col text-center">
                                <span class="fw-lighter"><span class="text-primary"><i
                                        class="fa-solid fa-clock"></i> <b>Total:</b></span> {{ recipe.total_time }}</span>
                            </div>
                            <div class="col text-center">
                                <span class="fw-lighter"><span class="text-primary"><i class="fa fa-cutlery fa-lg"></i> <b>Servings:</b></span> {{ recipe.servings }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <form method="POST">
        <div class="row">
            <div class="col-4">
                <div class="card text-left bg-light" style="border-radius:3px;">
                    <div class="card shadow" style="border-radius:3px;">
                        <div class="card-header border-0 text-center" style="border-radius:3px;">

                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush table-sm">
                                <thead class="table-info">
                                <tr>
                                    <th class="border-top text-center" scope="col" colspan="2"><span
                                            class="text-primary"><h5>Ingredients</h5></span></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ingredient in ingredients %}
                                <tr>
                                    <td>
                                        <label class="form-check-label" for="ingredients"><span class="fw-lighter">{{ ingredient.ingredient
                                        }}</span></label><input type="hidden" name=category
                                                                value="{{ ingredient.ing_type }}">
                                    </td>
                                    <td>
                                        <input class="form-check-input" type="checkbox"
                                               value="{{ ingredient.ingredient }}"
                                               id="ingredients" name="ingredients" checked/>
                                    </td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            <div class="col text-center">
                                <button type="submit" class="btn btn-primary"><i
                                        class="fa-sharp fa-solid fa-cart-plus"></i>
                                    Add Ingredients to Shopping List
                                </button>
    </form>
</div>
<br>
</div>
</div>
</div>
</div>
<div class="col-8">
    <div class="card text-left bg-light" style="border-radius:3px;">
        <div class="card shadow" style="border-radius:3px;">
            <div class="card-header border-0 text-center">
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush table-sm">
                    <thead class="table-info">
                    <tr>
                        <th class="border-top text-center" scope="col">
                            <h5>
                                <span class="text-primary">{{ recipe.recipe_name }}</span>
                                <span style="float: right;">
                            <button
                                    class="btn btn-primary btn-sm float-right"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-mdb-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                <i class="fa-solid fa-caret-down fa-xl"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item text-primary" href="#" target="#"><i
                                        class="fa-solid fa-star"></i> Add Recipe to
                                    Favorites</a></li>
                                <li>
                                    <li><a class="dropdown-item text-primary" href="#" target="#"><i
                                            class="fa-sharp fa-solid fa-cart-plus"></i> Add Ingredients to
                                    Shopping List</a></li>
                                <li>
                                    <hr class="dropdown-divider"/>
                                </li>
                                <li>
                                    <li><a class="dropdown-item text-primary" href="{{ recipe.original_url }}"
                                           target="#"><i class="fa-solid fa-arrow-up-right-from-square"></i> Link to Original Recipe</a></li>
                                <li>
                                    <hr class="dropdown-divider"/>
                                </li>
                                <li><a class="dropdown-item" href="#" data-mdb-toggle="modal"
                                       data-mdb-target="#delete_recipe" data-recipe-title="{{ recipe.recipe_name }}"
                                       data-recipe-uuid="{{ recipe.uuid }}"><span class="text-danger"><i
                                        class="fa fa-trash"></i> Delete Recipe</span></a></li>
                            </ul>
                        </span>
                            </h5>
                            <div style="clear:both;"></div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                                    <span class="fw-lighter">
                    <ol>
                        {{ recipe.instructions|safe }}
                    </ol>
                                    </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
</div>
</div>
</div>
</div>
</div>
<div class="modal fade" id="delete_recipe" tabindex="-1" aria-labelledby="delete_recipe_modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure you want to delete this recipe?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}