{% extends "base.html" %} {% block title %}{{ recipe.recipe_name }}{% endblock
%} {% block content %}
<form method="POST">
<div class="view-recipe">
  <div class="ingredient-list">
    <img
    class="instruction-img"
    src="{{ url_for('static', filename='/images/' + recipe.image) }}"
  />
    {% for ingredient in ingredients %}
    <div class="ingredient-wrapper">
      <div class="ingredient">
        {{ ingredient.ingredient }}<input
          type="hidden"
          name="category"
          value="{{ ingredient.ing_type }}"
        />
      </div>
      <div class="ingredient-check">
        <input
          type="checkbox"
          value="{{ ingredient.ingredient }}"
          id="ingredients"
          name="ingredients"
          checked
        />
      </div>
    </div>
    {% endfor %}

  </div>
  <div class="recipe-instructions">
    <div class="information-wrapper">
      
        
          <div class="recipe-icons">
            <i class="fa-solid fa-clock fa-2x"></i>
            <p>{{ recipe.prep_time }}</p>
            <span class="stat-title">Prep</span>
          </div>
          <div class="recipe-icons">
            <i class="fa-solid fa-clock fa-2x"></i>
            <p>{{ recipe.cook_time }}</p>
            <span class="stat-title">Cook</span>
          </div>
          <div class="recipe-icons">
            <i class="fa-solid fa-clock fa-2x"></i>
            <p>{{ recipe.total_time }}</p>
            <span class="stat-title">Total</span>
          </div>
          <div class="recipe-icons">
            <i class="fa-solid fa-utensils fa-2x"></i>
            <p>{{ recipe.category }}</p>
            <span class="stat-title">Category</span>
          </div>
        
      
    </div>
    <div class="recipe-grid-wrapper">
      <div class="recipe-menu-wrapper">
        <div class="recipe-title">{{ recipe.recipe_name }}</div>
        <div class="recipe-dropdown">
          <div class="recipe-menu" onclick="menutoggle()">
            <i class="fa-solid fa-angle-down fa-xl"></i>
          </div>
          <div
            class="recipe-dropdown-content"
            id="dropdown-menu"
            style="display: none"
          >
            <ul>
              {% if recipe.favorite == True %}
              <li class="item"  onclick="remove_favorite('{{ recipe.id }}')">
                <i class="fa-solid fa-heart nav-icon"></i> Remove From
                Favorites
              </li>
              {% else %}
              <li class="item" onclick="add_favorite('{{ recipe.id }}')">
                <i class="fa-solid fa-heart nav-icon"></i> Add Recipe to
                Favorites
              </li>
              {% endif %}
              <li class="item">
                <button><i class="fa-solid fa-cart-shopping nav-icon"></i> Generate
                Shopping List</button>
              </li>
              <li class="item">
                <a href="{{ recipe.original_url }}" target="#"><i class="fa-solid fa-link nav-icon"></i> Link to Original
                Recipe</a>
              </li>
              <li class="item">
                <a href="/edit_recipe/{{ recipe.uuid }}"><i class="fa-regular fa-pen-to-square nav-icon"></i> Edit Recipe</a>
              </li>
              <li onclick="delete_recipe(this);" class="item" data-recipe-id = "{{ recipe.uuid }}" data-recipe-title="{{ recipe.recipe_name }}">
                <i class="fa-solid fa-trash-can nav-icon"></i> Delete Recipe
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% for key,value in instructions_json.items() %}
      <div class="counter"><span class="number">{{ loop.index }}.</span></div>
      <div class="step">{{ value }}</div>
      {% endfor %}
    </div>
    
    <div class="tags-wrapper">
      <div class="tag-icon"><i class="fa-solid fa-tags fa-2x"></i></div>
      <div class="tag-display">
        <ul id="tag_list">
        {% for recipe_tag in recipe.tags %}
        <li class="tags">
          <span class="tag-text">{{ recipe_tag.tag_name }}</span>
          <span class="delete_tag" onclick="delete_tag({{ recipe_tag.id }}, '{{ view_id }}', {{ recipe.id }})"><i class="fa-solid fa-circle-xmark fa-lg"></i></span>
        </li>
        {% endfor %}
        </ul>
      </div>
    </div>

  </div>
</div>
</form>
<script>
  function menutoggle() {
    var x = document.getElementById("dropdown-menu");
    if (x.style.display === "none") {
      x.style.display = "inline-block";
    } else {
      x.style.display = "none";
    }
  }
</script>
{% endblock %}
