/* General Theme Begins Here */

* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}

a {
  all: unset;
}

.card-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: #343A40;
}

.main-container {
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 1rem;
}

body {
  background-color: #d8dde6;
}

.navbar {
  display: grid;
  grid-template-columns: fit-content(100px) 1fr 1fr fit-content(100px);
  background-color: #ADB5BD;
  align-items: center;
  border-bottom: 2px solid;
  border-color: #ADB5BD;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

.logo {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  color: #606e7c;
}

.logo img {
  display: block;
  width: 100px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-links li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  color: #6C757D;
}


.nav-links li:hover {
  border-top: 3px solid;
  margin-top: -2.5px;
  cursor: pointer;
}

.shopping-cart {
  display: flex;
  position: relative;
  color: #6C757D;
}

.shopping-cart a {
  all: unset;
}

.shopping-cart a:hover {
  cursor: pointer;
}

.shopping-badge {
  font-family: 'Quicksand', sans-serif;
  font-size: .8rem;
  color:rgb(99, 51, 51);
  padding: 2px;
  border: 4px solid #fec5bb;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  text-align: center;
  background-color: #E8E8E4;
  position: absolute;
  right: -20px;
  top: -15px;
}

.search {
  display: flex;
}

.text-input {
  background-color: #dee2ff;
  border: 1px solid;
  border-color: #E9ECEF;
  border-radius: 4px;
  height: 25px;
  font-family: 'Quicksand', sans-serif;
  padding: 0.5rem;
  margin-right: 0.5rem;
  color: #6C757D;
}

.search-button {
  font-family: 'Quicksand', sans-serif;
  border: 1px solid;
  display: inline-block;
  border-color: #E9ECEF;
  background-color: #CED4DA;
  padding: 3px 0.5rem;
  border-radius: 4px;
  color: #6C757D;
  font-weight: 500;
  font-size: 0.7rem;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.search-button:hover {
  background-color: #343A40;
  cursor: pointer;
}

.card {
  display: grid;
  position: relative;
  background-color: #adb7c9;
  border: 1px solid;
  border-color: #69758b13;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.3s;
}

.card:hover {
  border-color: #ADB5BD;
}

.home-menu {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: #adb7c9;
  border: 1px solid;
  border-color: #feeafa;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 1rem;
}

.home-menu select {
  background-color: #ADB5BD;
  border: 1px solid;
  border-color: #E9ECEF;
  border-radius: 4px;
  font-family: 'Quicksand', sans-serif;
  padding: 0.5rem;
}

.home-menu div {
  display: grid;
}

.home-menu-view {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: #cbc0d3;
  border: 1px solid;
  border-color: #feeafa;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 1rem;
}

.home-menu-view div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #D97979;
}

.home-menu-view span {
  font-weight: 800;
  color: #D97979;
  letter-spacing: 2px;
}

.view-span {
  color: #FEC89A;
}

.recipe-card {
  font-family: 'Quicksand', sans-serif;
  color: #D97979;
  font-weight: 500;
  text-transform: uppercase;
  padding: .7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fec5bb;
  border: 1px solid;
  border-bottom:  none;
  border-color: #FEC89A;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.3s;
}

.ingredient-list {
  font-family: 'Quicksand', sans-serif;
  color: #D97979;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .8rem;
  padding-left: .7rem;
  padding-right: .7rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-top: .5rem; 
  display: grid;
  grid-template-columns: 1fr 15px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #FAE1DD;
  border: 1px solid;
  border-color: #FEC89A;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.3s;
}

.instructions-list {
  font-family: 'Quicksand', sans-serif;
  color: #D97979;
  font-weight: 400;
  font-size: 1rem;
  padding-left: .7rem;
  padding-right: .7rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-top: .5rem; 
  display: grid;
  grid-template-columns: 5% 1fr;
  position: relative;
  background-color: #FAE1DD;
  border: 1px solid;
  border-color: #FEC89A;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.3s;
}

.instructions-list:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.instructions-counter {
  display: flex;
  font-size: 2rem;
  padding: 0;
}

.instruction-block {
  line-height: 25px; 
}

.ingredient-list:nth-child(even) {
  background-color: #fae1dd5e;
}

.ingredient-list:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.home-menu input {
  height: auto;
  margin: 0;
}

.view-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 30% 1fr;
  margin-bottom: 2rem;
}

.home-menu select {
  background-color: #E8E8E4;
  border: 1px solid;
  border-color: #e56b6f;
  border-radius: 4px;
  font-family: 'Quicksand', sans-serif;
  padding: 0.5rem;
}

.card .card-title {
  display: flex;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  color: #495057;
  padding: 0.5rem;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0.8rem;
  font-size: 1.3rem;
  font-weight: 400;
}

.card .card-body {
  padding: 0.5rem;
  padding-top: 0;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.card .card-body a {
  display: inline-block;
}

.card .card-body button {
  font-family: 'Oxygen', sans-serif;
  border: 1px solid;
  border-color: #E9ECEF;
  background-color: #4950574d;
  border-radius: 4px;
  color: #343A40;
  font-weight: 400;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card .card-body button:hover {
  background-color: #D8E2DC;
  cursor: pointer;
}

.card .recipe-info {
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #e56b6f4f;
  margin: 1rem;
  padding: 0.5rem;
}

.card .recipe-info .pill {
  border: 1px solid;
  border-radius: 5px;
  border-color: #7d808340;
  padding: 3px;
  font-family: 'Lucida Sans', sans-serif;
  text-transform: uppercase;
  font-size: 0.6rem;
  color: #7d8083;
  background-color: #ece4db83;
}

.primary-button {
  font-family: 'Oxygen', sans-serif;
  border: 1px solid;
  border-color: #cbc0d3;
  background-color: #8e9aaf;
  padding: 10px 0.5rem;
  border-radius: 4px;
  color: #495057;
  font-weight: 400;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.5s;  
  text-align: center;
}

.primary-button:hover {
  background-color: #D8E2DC;
  cursor: pointer;
}

.favorite {
  display: inline-block;
  padding: 5px;
  background-color: #FCD5CE;
  border: none;
  border-radius: 5px;
  color: #e56b6f;
}

.favorite:hover {
  cursor: pointer;
}

/* Random shit here, prior to theme being changed */
.add_container {
    display: flex;
    margin-top: 0.5rem;
}

.delete_button {
    padding-left: 8px;
}
.custom_card {
    background-color: #def1f7;
    color: #3c7c91;
    border: 1px solid; 
    border-radius: 4px; 
    border-color: #bfd8e0;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 15% auto;
    gap: .5rem;
}

.grid_container2 {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: .5rem;
}

.home_container {
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: .5rem;
}

.hidden_cart {
    display: none
}

.view_container {
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 1rem;
}

.add_recipe_container {
  display: grid;
  gap: .5rem;
  grid-template-columns: 1fr 1fr;
}

.add_recipe_button {
  display: grid;
  gap: .5rem;
  grid-template-columns: 1fr 25%;
}

.all_recipes_header {
  display: grid;
  gap: .5rem;
  margin-bottom: .5rem;
  grid-template-columns: 1fr 10% 15%;
}

.recipe_info_grid {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(5, 1fr);
}

.recipe_tags_grid {
  display: grid;
  gap: .5rem;
  grid-template-columns: 85% 1fr;
}

.ingredient_instruction_grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 30% 1fr;
}

@media only screen and (max-width: 480px) {
  /* For mobile phones: */
  .grid_container {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .grid_container2 {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .home_container {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .view_container {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto; 
    gap: 1rem;
  }

  .hidden_cart {
    display: block;
  }

  .visible_cart {
    display: none;
  }

  .view_card {
    display: none;
  }

  .custom_card {
    display: none; 
  }

  .add_recipe_span {
    display: none; 
  }

  .add_recipe_container {
    display: grid;
    gap: .5rem;
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .add_recipe_button {
    display: grid;
    gap: .5rem;
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .all_recipes_header {
    display: grid;
    gap: .5rem;
    margin-bottom: .5rem;
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .recipe_info_grid {
    display: grid;
    gap: .5rem;
    grid-template-columns: none;
    grid-template-rows: auto;
  }
  
  .recipe_tags_grid {
    display: grid;
    gap: .5rem;
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .ingredient_instruction_grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: none;
    grid-template-rows: auto;
  }
}