.add_container {
    display: flex;
    margin-top: 0.5rem;
}

.delete_button {
    padding-left: 8px;
}
.custom_card {
    background-color: #def1f7;
    color: #3c7c91;
    border: 1px solid; 
    border-radius: 4px; 
    border-color: #bfd8e0;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 15% auto;
    gap: .5rem;
}

.grid_container2 {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: .5rem;
}

.hidden_cart {
    display: none
}

@media only screen and (max-width: 480px) {
  /* For mobile phones: */
  .grid_container {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .grid_container2 {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .hidden_cart {
    display: block;
  }

  .visible_cart {
    display: none;
  }
}