* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}

:root {
    --nav-background: #D9E2EC;
    --main-background: white;
    --logo-color: rgba(49, 41, 77, 0.512);
    --nav-items-color: #486581;
    --nav-icon-color: #035388;
    --nav-items-hover: #BCCCDC;
    --nav-text-color: rgba(68, 60, 104, 0.678);
    --search-input-color: #c1cdda92;
    --pill-background: #C6F7E2;
    --recipe-card-background: #F0F4F8;
    --primary-button: #E3F8FF;
    --secondary-button: #D9E2EC;
    --recipe-tag-background: #ffe3ecd3;

}

main {
    display: grid;
    margin-left: 13rem;
    align-items: center;
}

.navbar {
    position: fixed;
    display: grid;
    width: 13rem;
    grid-template-rows: 10% 1fr 15%;
    background-color: var(--nav-background);
    height: 100vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.nav-layout:hover {
    background-color: var(--nav-items-hover);
    border-radius: 5px; 
}

.nav-item {
    margin: .4rem;
    padding: .5rem;
    transition: 200ms; 
}

.bottom-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: .5rem;
}

.nav-item-cart {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: .2rem;
    padding: .5rem;
}

.nav-item-cart:hover {
    background-color: var(--nav-items-hover);
    border-radius: 5px; 
}

.nav-layout {
    height: 30px;
    display: grid;
    grid-template-columns: 25px 1fr 20px;
    align-items: center;
    justify-content: center;
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-left: .3rem;
    padding-right: .3rem;
}

.nav-layout-search {
    height: 30px;
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;
    justify-content: center;
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-left: .3rem;
    padding-right: .3rem;
}
.nav-other {
    display: grid;
    align-items: center;
    justify-items: center;
}

.search {
    margin: .5rem;
    padding: .5rem;
}

.search-recipes {
    padding: .3rem;
    background-color: var(--search-input-color);
    border: 1px solid;
    border-color: rgb(191, 186, 205);
    border-radius: 5px;
    width: 100%;
}

.settings-user {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.settings {
    margin: .7rem;
    padding: .5rem;
}

.settings:hover {
    background-color: var(--nav-items-hover);
    border-radius: 5px; 
}

.nav-text {
    color: var(--nav-text-color);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .8rem;
    padding-left: 1rem;
    font-weight: 400;
}

.nav-icon {
    color: var(--nav-icon-color);
    text-decoration: none;
}

.logo {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1rem;
    color: var(--logo-color);
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
}

.pill {
    background-color: var(--pill-background);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: .5rem;
    padding: 3px;
}

hr {
    border: none;
    height: 1px;
    background-color: #BCCCDC;
    width: 100%;
}

.nav-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    margin: 0;
}

.nav-grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: .5rem;
}

.nav-other {
    color: var(--nav-items-color)
}

.menu-items {
    position: relative;
    padding: 0;
    padding-left: 3rem;
    height: 0px;
    margin: 0;
    transition: 150ms ease-in-out;
}

.dropdown:hover .menu-items {
    height: 50px;
    display: block;
}

.menu-list {
    display: none;
    list-style: none;
}

.menu-list li {
    padding: .3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-left: 2px solid var(--nav-items-hover);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--nav-text-color);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: .8rem;
}

.menu-list li:hover {
    background-color: var(--nav-items-hover);
}

.menu-link {
    text-decoration: none;
    color: var(--nav-items-color);
    font-family: 'Roboto', sans-serif;
}

.dropdown:hover .menu-list
{
    display: block;

    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.body-wrapper {
    display: grid;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.page-title {
    padding-left: 4rem;
    color: var(--nav-items-color);
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
    font-weight: 300;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: center;
}

.sort-control {
    padding: .5rem;
    padding-right: 0;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.select-category {
    background-color: var(--search-input-color);
    padding: .3rem;
    border: none;
    border-radius: 5px;
    margin: .5rem;
    display: flex;
    width: 150px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: .8rem;
    color: var(--nav-items-color);
    border: 1px solid;
    border-color: rgb(191, 186, 205);
}

.recipe-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--recipe-card-background);
    border-radius: 10px;
    margin: 0;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-link {
    text-decoration: none;
}

.recipe-control {
    position: absolute;
}

.recipe-control2 {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
}
.card-title {
    display: flex;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    font-weight: 100;
    color: var(--nav-items-color);
    font-size: 1.3rem;
    justify-content: center;
    padding: .5rem;
    margin: 0;
}

.recipe-card-button {
    display: flex;
    justify-content: center;
}

.button-primary {
    background-color: var(--primary-button);
    padding: .3rem;
    border: none;
    border-radius: 5px;
    margin: .5rem;
    margin-right: 0;
    display: block;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: .8rem;
    color: var(--nav-items-color);
}

.primary-button-text {
    margin: 0;
    margin-left: .5rem;
    padding: 0;
}

.secondary-button-text {
    margin: 0;
    margin-left: .5rem;
    padding: 0;
}

.button-secondary {
    background-color: var(--primary-button);
    padding: .3rem;
    border: none;
    border-radius: 5px;
    margin: .5rem;
    display: block;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: .8rem;
}

.button-tertiary {
    background-color: var(--primary-button);
    padding: .5rem;
    border: none;
    border-radius: 5px;
    margin: .5rem;
}

.favorite {
    background-color: var(--recipe-tag-background);
    padding: 1px;
    border: none;
    border-radius: 5px;
    margin: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 1rem;
    color: #AB091E;
}

.delete {
    background-color: var(--recipe-tag-background);
    padding: 1px;
    border: none;
    border-radius: 5px;
    margin: .5rem;
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: .5rem;
    color: var(--nav-items-color);
    z-index: 9999;
}

.recipe-details {
    position: absolute;
    left: 10px;
    top: 200px;
    display: grid;
    gap: .5rem;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
}

.recipe-detail-tag {
    display: flex;
    justify-content: center;
}

.recipe-tag {
    background-color: var(--recipe-tag-background);
    color: var(--nav-items-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1.5px;
    padding: 3px;
}

.tag-text {
    padding-left: .5rem;
}