* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}

:root {
    --nav-background: #D9E2EC;
    --main-background: white;
    --logo-color: rgb(49, 41, 77);
    --nav-items-color: #486581;
    --nav-items-hover: #BCCCDC;
    --nav-text-color: rgba(68, 60, 104, 0.678);
    --search-input-color: #F0F4F8;
    --pill-background: #FFB8D2;
    --recipe-card-background: #F0F4F8;

}

main {
    display: grid;
    margin-left: 13rem;
    align-items: center;
}

.navbar {
    position: fixed;
    display: grid;
    width: 13rem;
    grid-template-rows: 10% 1fr 15%;
    background-color: var(--nav-background);
    height: 100vh;
    transition: width 100ms ease;
}

.nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.nav-layout:hover {
    background-color: var(--nav-items-hover);
    border-radius: 5px; 
}

.nav-item {
    margin: .4rem;
    padding: .5rem;
    transition: 200ms; 
}

.bottom-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: .5rem;
}

.nav-item-cart {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: .2rem;
    padding: .5rem;
}

.nav-item-cart:hover {
    background-color: var(--nav-items-hover);
    border-radius: 5px; 
}

.nav-layout {
    height: 30px;
    display: grid;
    grid-template-columns: 25px 1fr 20px;
    align-items: center;
    justify-content: center;
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-left: .3rem;
    padding-right: .3rem;
}

.nav-layout-search {
    height: 30px;
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;
    justify-content: center;
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-left: .3rem;
    padding-right: .3rem;
}
.nav-other {
    display: grid;
    align-items: center;
    justify-items: center;
}

.search {
    margin: .5rem;
    padding: .5rem;
}

.search-recipes {
    padding: .3rem;
    background-color: var(--search-input-color);
    border: 1px solid;
    border-color: rgb(137, 128, 168);
    border-radius: 5px;
    width: 100%;
}

.settings-user {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.settings {
    margin: .7rem;
    padding: .5rem;
}

.settings:hover {
    background-color: var(--nav-items-hover);
    border-radius: 5px; 
}

.nav-text {
    color: var(--nav-text-color);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .8rem;
    padding-left: 1rem;
    font-weight: 400;
}

.nav-icon {
    color: var(--nav-items-color);
    text-decoration: none;
}

.logo {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1rem;
    color: var(--logo-color);
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
}

.pill {
    background-color: var(--pill-background);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: .5rem;
    padding: 3px;
}

hr {
    border: none;
    height: 1px;
    background-color: #BCCCDC;
    width: 95%;
}

.nav-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .4rem;
}

.nav-grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: .5rem;
}

.nav-other {
    color: var(--nav-items-color)
}

.menu-items {
    position: relative;
    padding: 0;
    padding-left: 3rem;
    height: 0px;
    margin: 0;
    transition: 150ms ease-in-out;
}

.dropdown:hover .menu-items {
    height: 50px;
    display: block;
}

.menu-list {
    display: none;
}

.menu-list li {
    padding: .3rem;
    color: var(--nav-text-color);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: .8rem;
}

.menu-link {
    text-decoration: none;
    color: var(--nav-items-color);
    font-family: 'Roboto', sans-serif;
}

.dropdown:hover .menu-list
{
    display: block;

    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.body-wrapper {
    display: grid;
    padding: 4rem;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.recipe-card {
    width: 100%;
    background-color: var(--recipe-card-background);
    height: 300px;
    border-radius: 10px;
}